<!-- Contact Master detail flow -->
<div id="main" class="container-fluid">
  <ng2-toasty [position]="toastPosition"></ng2-toasty>
  <div class="row">

    <!-- Contact List -->
    <div id="contact-list-col" class="col-xs-12 col-md-3">
      <div class="sfa-panel">
        <div class="title"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search Contacts </div>
        <div id="contact-search-bar" class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
          <input type="text" [(ngModel)]="hint" (keyup)="eventHandler($event)" class="form-control" placeholder="Search for Client"
            aria-describedby="sizing-addon1">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" (click)="openCreateClientModal()">+</button>
          </span>
        </div>
        <div id="contact-list-panel">
          <ul id="contact-list">
            <li *ngFor=" let customer of customers">
              <div class="contact-name"><a class="mouse-click" (click)="changeCustomer(customer.id)"> {{customer.id}} </a></div>
              <div class="contant-basic-info"> {{customer.name}} </div>
              <!--<div class="tag"> tag </div>-->
            </li>
          </ul>
        </div>
      </div>

    </div>

    <!-- Contact Detail -->
    <div id="client-col" class="col-xs-12 col-md-6">

      <!-- Contact Panel -->
      <div id="contact-panel" class="sfa-panel">
        <div>
          <div class="title"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Client Detail </div>
          <a href="tel:{{customer.phone}}">
            <button id="contact-button" type="button" class="btn btn-success" [(ngModel)]="singleModel" ngDefaultControl>
              Contact
            </button>
          </a>
        </div>
        <div id="contact-panel-header">
          <div id="contact-title">
            <div id="contact-title-name">
              <strong> {{customer.name}} </strong>
            </div>
            <div id="contact-title-organization">
              FEUP
            </div>
            <div id="contact-title-location">
              {{customer.address}}
            </div>
          </div>
        </div>
        <div id="contact-panel-content">
          <div class="row">
            <div class="col-xs-7">
              <strong>
                  Content Detail
                </strong>
              <div id="content-detail">
                <ul id="content-detail-list">
                  <li> <strong> ID: </strong> {{customer.id}} </li>
                  <li> <strong> E-mail: </strong> {{customer.email}} </li>
                  <li> <strong> Nationality: </strong> {{customer.nationality}} </li>
                  <li> <strong> Phone number: </strong> {{customer.phone}} </li>
                  <li> <strong> NIF: </strong> {{customer.nif}} </li>
                </ul>
                <button type="button" (click)="editInfo()" class="btn btn-primary" [(ngModel)]="singleModel" ngDefaultControl>
                    Edit Information
                  </button>
              </div>
            </div>
            <div class="col-xs-5">
              <div id="notes">
                <strong> Notes: </strong>
                <textarea id="note-area" [(ngModel)]="customer.notes"></textarea>
                <button class="btn btn-success" type="button" (click)="updateNotes()">Update notes</button>
              </div>
            </div>
          </div>
                <button class="btn btn-success" type="button" (click)="redirect('/cart/' + customer.id)">Go to customer cart</button>
                <button class="btn btn-success" type="button" (click)="signInCustomer()">Sign in as this customer</button>
        </div>
      </div>

    </div>

    <div class="col-xs-12 col-md-3">
      <!-- Order History -->
      <div class="contact-history">
        <div class="sfa-panel">
          <div class="title"> <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Order History </div>
          <div id="table-wrapper">
            <div id="table-scroll">
              <table>
                <tr>
                  <th><span class="text">Date</span></th>
                  <th><span class="text">Total (€)</span></th>
                </tr>
                <tr class="sales-line" (click)="goToSalesOrder(sale.numDoc)" *ngFor="let sale of salesHistory">
                  <td> {{sale.date | date}} </td>
                  <td> {{sale.total}} </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
          <h4 class="modal-title">Client Details</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="registerForm" (ngSubmit)="handleClient()">

            <label>ID:</label>
            <input type="text" class="form-control" formControlName="id" required>

            <label>Name:</label>
            <input type="text" class="form-control" formControlName="name" required>

            <label>Address:</label>
            <input type="text" class="form-control" formControlName="address" required>

            <label>Phone Number:</label>
            <input type="text" class="form-control" formControlName="phoneNumber" required>

            <label>Email:</label>
            <input type="email" class="form-control" formControlName="email">

            <label>NIF:</label>
            <input type="text" class="form-control" formControlName="nif" required>

            <label>Nationality:</label>
            <select class="form-control" formControlName="nationality" required>
              <option *ngFor="let country of countries" value="{{country.country}}">{{country.descricao}}</option>
            </select>

            <label>Label 1:</label>
            <select class="form-control" formControlName="label1">
              <option value="" selected></option>
              <option *ngFor="let label of labels" value="{{label}}">{{label}}</option>
            </select>

            <label>Label 2:</label>
            <select class="form-control" formControlName="label2">
              <option value="" selected></option>
              <option *ngFor="let label of labels" value="{{label}}">{{label}}</option>
            </select>

            <label>Label 3:</label>
            <select class="form-control" formControlName="label3">
              <option value="" selected></option>
              <option *ngFor="let label of labels" value="{{label}}">{{label}}</option>
            </select>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>