<div class="container">
  <div class="row" id="product">

    <!-- CATALOGUE -->
    <div class="col-xs-12 col-sm-3">
      <div class="title">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Catalogue
      </div>
      <div id="category-panel" class="sfa-panel">
        <div class="catalogue-header">
          <a> All Products </a>
        </div>
        <div *ngFor="let category of categories" class="panel-body">
          <div class="catalogue-header">
            <a (click)="selectCategory(category.family)"> {{category.description}} </a>
          </div>
          <ul>
            <li *ngFor="let item of category.children" class="catalogue-list">
              <a (click)="selectCategory(item.family)"> {{item.description}} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- PRODUCT -->
    <div class="col-xs-12 col-sm-6">
      <div class="title">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Product
      </div>
      <div id="product-panel" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>ID: #{{product.id}}</h4>
          </div>
        </div>
        <div class="panel-body container-fluid">
          <div id="product-content" class="row">
            <div class="col-xs-12 col-sm-6" id="image-panel">
              <div class="thumbnail">
                <img src="./app/img/{{product.imageUrl}}" alt="product image">
              </div>
            </div>
            <div id="product-info" class="col-xs-12 col-sm-6">
              <h4><b>Category:</b> {{product.category}}</h4>
              <h4><b>Price:</b> €{{product.price}}</h4>
              <h4><b>VAT:</b> €{{product.vat}}</h4>
              <h4><b>Sales Count:</b> {{product.salesCount}}</h4>
              <h4><b>In Stock:</b> {{product.stock}}</h4>
              <h4><b>Warehouses</b></h4>
              <table style="width:45%">
                <tr>
                  <th>ID</th>
                  <th>Quantity</th>
                </tr>
                <tr *ngFor="let warehouse of product.warehouses">
                  <td>{{warehouse.id}}</td>
                  <td>{{warehouse.quantity}}</td>
                </tr>
              </table>
              <h4><b>Description</b></h4>
              <div id="description">
                {{product.description}}
              </div>
            </div>
          </div>
          <div id="product-footer" class="row">
            <div class="col-xs-12 col-md-8">
            </div>
            <form>
              <input id="input-quantity" [(ngModel)]="total" type="number" name="quantity" min="0" max="{{product.stock}}" placeholder="Quantity">
              <input type="submit" value="Add to the wishlist">
              <span>Total: €{{total * product.price}}</span>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ORDER HISTORY -->
    <div class="col-xs-12 col-sm-3">
      <div class="title">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Order History
      </div>
      <div id="order-history-panel" class="panel panel-default">
        <div class="panel-body container-fluid">
          <ul>
            <li *ngFor="let record of history" class="order-history-item">
              <a (click)="goToSalesOrder(record.numDoc)">
                <h3> {{record.name}} </h3>
                <h4> {{record.date}} </h4>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
