<div class="row" id="product">

  <!-- CATALOGUE -->
  <div class="col-xs-12 col-sm-2">
    <div class="title">
      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Catalogue
    </div>
    <div id="catalogue-panel" class="panel panel-default">
      <div class="panel-body container-fluid">
        <div id="tree"> {{item0.name}} <tree-view id="tree" [root]="item0"></tree-view> </div>
      </div>
    </div>
  </div>

  <!-- PRODUCT -->
  <div class="col-xs-12 col-sm-7">
    <div id="product-panel" class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>{{productName}}</h3>
          <h4>Product ID: #{{productId}}</h4>
        </div>
      </div>
      <div class="panel-body container-fluid">
        <div id="product-content" class="row">
          <div class="col-xs-12 col-sm-6" id="image-panel">
            <div class="thumbnail">
              <img src="http://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/M/AC/MACBOOKPRO/MACBOOKPRO?wid=1200&hei=630&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=6xyk93" alt="product image">
            </div>
            <nav aria-label="Page navigation">
              <ul *ngIf="images.length >= 2" id="image-pagination" class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li *ngFor="let image of images; let i = index">
                  <a href="{{image}}">{{i+1}}</a>
                </li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div id="product-info" class="col-xs-12 col-sm-6">
            <h4>Category: {{category}}</h4>
            <h5>Price: {{price}}</h5>
            <ul>
              <li>Availability: status</li>
              <li>Sales Count: 123</li>
              <li>In Stock: 2</li>
            </ul>
            <h5>Features:</h5>
            <ul id="features">
              <li *ngFor="let feature of features">
                {{feature}}
              </li>
            </ul>
            <h5>Description:</h5>
            <div id="description">
              {{description}}
            </div>
          </div>
        </div>
        <div id="product-footer" class="row">
          <div class="col-xs-12 col-md-8">
            <div id="client-search-bar" class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
              <input type="text" class="form-control" placeholder="Search for Client" aria-describedby="sizing-addon1">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button">+</button>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <button id="order-button" class="btn btn-primary" type="button">CREATE SALES ORDER</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ORDER HISTORY -->
  <div class="col-xs-12 col-sm-3">
    <div class="title">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Order History
    </div>
    <div id="order-history-panel" class="panel panel-default">
      <div class="panel-body container-fluid">
        <ul>
          <li *ngFor="let customer of orderHistoryList" class="order-history-item">
            <a>
              <h3> {{customer.name}} </h3>
              <h4> {{customer.phone}} </h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
