h3{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.title{
  color: white;
  font-size: 200%;
  margin: 1rem;
}

#tree{
  font-size: 2rem;
}

#product{
  margin-top: 5rem;
}

#image-pagination{
  margin: 0;
  padding: 0;
}

#description{
  max-height: 10rem;
  overflow-y: scroll;
}

#input-quantity {
  width: 8rem;
}

img{
    width: 350px; /* you can use % */
    height: 350px;
}

.catalogue-header{
    list-style-type: disc;
    margin-left: 1rem;
}

.catalogue-list{
    list-style-type: circle;
    margin-left: 2rem;
}

th {
  background-color: #666;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#image-panel{
  text-align: center;
}

#order-button{
  padding: 1rem;
  white-space: normal;
}

#client-search-bar{
  margin-bottom: 1rem;
}

#product-footer{
  padding: 2rem;
}

#product-panel{
  max-height: 100%;
}

#catalogue-panel{
  height: 50rem;
  overflow-x: scroll;
  overflow-y: scroll;
}

#order-history-panel{
  height: 50rem;
  overflow-y: scroll;
}

.order-history-item{
  border: solid rgb(200,200,200) 1px;
  border-radius: 2px;
  margin: 1rem;
  padding: 1rem;
}
