<div id="dashboard" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="main-title" class="color-1">
        <span> My Dashboard </span>
      </div>
    </div>
  </div>

  <!-- First Row -->
  <div class="row">

    <!-- Performance -->
    <div class="col-xs-12 col-md-8 section">
      <div>
        <div id="performance" class="title color-2">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> <div> My Performance </div>
        </div>
        <div id="performance-content" class="content">
          <div class="row" id="performance-graphs">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-4">
              <doughnut-chart-demo [method]="0" [idSalesRep]="id"></doughnut-chart-demo>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-4">
              <line-chart-demo [method]="0" [idSalesRep]="id"></line-chart-demo>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-4">
              <bar-chart-demo [method]="0" [idSalesRep]="id"></bar-chart-demo>
            </div>
          </div>
          <div class="row" id="performance-statistics">
            <div class="col-xs-4 lol">
              <div class="background-color-6">
                Top categories
              </div>
            </div>
            <div class="col-xs-4 lol ">
              <div class="background-color-7">
                Performance
              </div>
            </div>
            <div class="col-xs-4 lol">
              <div class="background-color-8">
                Sales flow by year
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Calendar -->
    <div class="col-xs-12 col-md-4 section">
      <div>
        <div id="calendar" class="title color-5">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <div> My Top Customers </div>
        </div>
        <div id="clients-content" class="content">
          <div id="clients-panel">
            <ul class="sfa-list">
              <li class="clients-list-item" *ngFor="let client of clients">
                <div class="name" (click)="redirect('/client/' + client.id)"> {{client.name}} </div>
                <div class="info"> {{client.email}} </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Second Row -->
  <div class="row">

    <!-- Routes -->
    <div class="col-xs-12 col-md-7 section">
      <div>
        <div id="routes" class="title color-4">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <div> My Routes </div>
        </div>
        <div id="routes-content" class="content">
          <div id="map"></div>
        </div>
      </div>
    </div>

    <!-- Tasks -->
    <div class="col-xs-12 col-md-5 section">
      <div>
        <div id="tasks" class="title color-3">
          <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> <div> My Tasks </div>
        </div>
        <div id="tasks-content" class="content">
          <ul class="sfa-list">
            <li class="tasks-list-item" *ngFor="let task of tasks" (click)="updateRoute(task.location)">
              <div class="text"> {{task.summary}} </div>
              <div class="time"> {{task.beginDate}} </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
