<div id="dashboard" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="main-title" class="color-1">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <span> Global Overview </span>
      </div>
    </div>
  </div>

  <!-- First Row -->
  <div class="row">

    <!-- Performance -->
    <div class="col-xs-12 col-md-7 section">
      <div>
        <div id="performance" class="title color-2">
          <span class="glyphicon glyphicon-scale" aria-hidden="true"></span> <div> Performance Indicators</div>
        </div>
        <div class="content">
          <div class="row" id="performance-graphs">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-4">
              <doughnut-chart-demo [method]="1" [idSalesRep]="id"></doughnut-chart-demo>
            </div>
            <!--<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-4">
              <line-chart-demo [method]="1" [idSalesRep]="id"></line-chart-demo>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-4">
              <bar-chart-demo [method]="1" [idSalesRep]="id"></bar-chart-demo>
            </div>-->
          </div>
          <div class="row" id="performance-statistics">
            <div class="col-xs-4 lol">
              <div class="background-color-6">
                Top 5 Products Sold
              </div>
            </div>
            <!--<div class="col-xs-4 lol ">
              <div class="background-color-7">
                Total Performance
              </div>
            </div>
            <div class="col-xs-4 lol">
              <div class="background-color-8">
                Total Sales flow by year
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>

    <!-- Representatives and Products-->
    <div class="col-xs-12 col-md-5 section">
      <div>
        <div id="representatives" class="title color-3">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <div> Top Representatives </div>
        </div>
        <div class="content">
          <ul id="reps-list" class="list">
            <li *ngFor="let rep of salesRep">
              <div class="text" (click)="redirect('/dashboard/sales-rep' + rep.id)"> {{rep.name}} </div>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <div id="products" class="title color-4">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <div> Top Products Sold </div>
        </div>
        <div class="content">
          <ul id="products-list" class="list">
            <li *ngFor="let product of products">
              <div class="text" (click)="redirect('/product/' + product.id)"> {{product.description}} </div>
              <div class="time"> {{product.category}} </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
